body > header {
  width: 100%;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.heading-group-h1 {
  float: left;
  margin: 10px;
}

.icon-menu {
  float: right;
  font-size: 36px;
}

nav ul {
  clear: both;
}

h1 {
  margin: 0;
}

av div {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 3em;
}

li {
  list-style: none;
  padding-bottom: 5px;
  border-bottom: 2px;
  border-bottom-style: solid;
  border-color:#cccccc;
  margin-left: 10px;
}

ul{
  display: none;
  padding: 0;
}

nav:hover ul{
  display: block;
  list-style: none;
  padding-bottom: 5px;
  border-bottom: 2px;
  border-color: gray;
  font-family: serif;
  color: rgb(83, 79, 79);
  margin-left: 10px;
}