a {
  text-decoration: none;
  color: #777777;
  font-weight: bold;
}

nav li {
  font-size: 24px;
  margin-top: 10px;
}

img {
  width: 20%;
}

@media only screen and (min-width: 640px) {
  
  .icon-menu {
    display: none;
    position: absolute;
    right: 10px;
    vertical-align: top;
    top: 20px;
    font-size: 2.5em;
  }

  nav > div {
    display: inline;
  }

  nav ul {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
  margin-left: 2%;
  }

  nav ul li {
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    color: darkgrey;
    border-style: none;
  }
 
  nav ul {
    display: block;
    align-items: stretch;
    flex-flow: row nowrap;
  }
}