body > header {
  background-color: rgb(243, 216, 136);
}

.heading-group-h1 {
  background-color: rgb(243, 216, 136);
  padding: 1em 1em 1em 1em;
}

header > div {
  color: grey;
}

header > div a {
  text-decoration: none;
  color: grey;
}

nav {
  padding-bottom: 0.7em;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul {
  display: none;
  list-style-type: none;
  margin-left: 0em;
  padding-left: 0em;
}

li {
  font-size: 1.5em;
  border-bottom: 1px solid grey;
  padding-bottom: .7em;
  padding-top: 0.5em;
  padding-left: 0.2em;
}

li a {
  text-decoration: none;
  color: grey;
  font-family: 'Times New Roman', Times, serif;

}

li:first-child{
  padding-top: 0em;
}


.icon-menu:hover + ul {
  display:block;
}

main {
  padding: 0 1em;
}

main p{
  line-height: 1.5em;
}

.template {
  display: none;
}

@media only screen and (min-width:640px){
  .icon-menu{
    display: none;
  }
  ul{
    display: block;
  }
  li{
    float: left;
    border-bottom: none;
    padding-left: 1em;
  }

  li:first-child{
    padding-top: 0.5em;
  };
 
}