nav li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width:599px) {
  nav {
    display:none;
  }
  .menu li {
    float: none;
    display: block;
    text-align:left;
  }
  img {
    width:100%
  }
}

@media screen and (min-width:600px) {
  nav {display:inline; !important}
  .icon-menu {display:none;}
}