body > header {
  background-color: #FFE9AD;
  position: relative;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
  margin-top: 0.5rem;
  padding-left: 1rem; 
  padding-bottom: 2rem;
  margin-bottom: 0;
}

li {
  font-size: 1.8rem;
  list-style-type: none;
  margin-right: 1rem;
  padding-left: .4rem;
}

a {
  text-decoration: none;
  color: #777;
}

header > div, header > div * {
  display: inline;
  color: #777;
  font-size: 1.3rem;
}

address > a {
  font-weight: bold;
}

p {
  font-size: 1.3rem;
}

@media only screen and (max-width: 640px) {
  ul {
    display: none;
    padding-left: 0;
    line-height: 4rem; 
  }

  li {
    border-bottom: 1px solid #BBB;
  }

  img {
    width: 100%;
    margin: 1rem 0;
  }
}

@media only screen and (min-width: 641px) {
  ul {
    padding-bottom: 2rem;
  }

  li {
    display: inline;
  }

  p {
    line-height: 2rem;
  }
}