img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em;
}

.info {
    color: gray;
}

address {
    display:inline;
}

.header {
    background-color: #cebfa4;
  }
  
  nav, .menu {
    overflow: hidden;
    background-color#cebfa4;
  }
  
  
  
  header, article{
    padding:1em;
  }
  
  .icon-menu:hover + nav {
    display: inline;
    background-color:white;
  }
  

  
  