img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em;
}

.info {
    color: gray;
}

address {
    display:inline;
}

.header {
    background-color: #cebfa4;
  }
  
  nav, .menu {
    overflow: hidden;
    background-color: #cebfa4;
  }
  
  
  
  header, article{
    padding:1em;
  }
  
  .icon-menu:hover + nav {
    display: block;
    background-color:white;
  }
  
  li {
    list-style: none;
    padding-bottom: 5px;
    /* display: none; */
    border-bottom: 2px;
    border-color: gray;
    font-family: serif;
    color: rgb(83, 79, 79);
    margin-left: 10px;
  }
  ul{
    display: none;
  }

  
  